body{
    max-width: 45em;
    margin: auto;
    color: #444;
    line-height: 1.7em;
    font-size: 1.375em;
    font-family: 'Lato', sans-serif;
}
header {
    margin-top: 2em;
    margin-bottom: 2em;
}
header .title{
    display: inline-block;
    vertical-align: middle;
    line-height: 0.8em;
}
header .title h1 a{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
header nav{
    display: inline-block;
    vertical-align: top;
    float: right;
}
header nav li{
    display: inline;
    margin-left: 0.5em;
}
header nav li a{
    padding-bottom: 0.2em;
    color: #007fb4;
    text-decoration: none;
    border-bottom: solid 2px transparent;
}
header nav li a:hover{
    color: #646464;
    border-bottom: solid 2px #646464;
}
/* FONT-FACE */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
